body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {

}
a:link, a:visited {
	color: purple;
}
a:hover, a:focus {
	color: green;
}
.container {
	border: 1px solid #ccc;
	margin: 10px auto;
	width: 960px;
}
.clear {
	clear: both;
}
header {
	background-color: purple;
	color: white;
	padding: 25px;
}
	header h1 {
		text-align: center;
	}

section {
	border-top: 5px solid black;
	padding: 10px;
}
	.primary-column {
		float: right;
		width: 60%;
	}
	.secondary-column {
		float: left;
		width: 39%;
	}

	.captioned-image {
		border: 1px solid black;
		position: relative;
		max-width: 500px;
		margin-bottom: 20px;
	}
		.captioned-image p {
			background-color: black;
			bottom: 0px;
			color: white;
			left: 0px;
			margin: 0;
			padding: 2px 0;
			position: absolute;
			width: 100%;
		}
footer {
	background-color: #333333;
	color: yellow;
	padding: 25px;
}